# 操作系统生成的文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# 依赖目录
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境变量文件
.env
.env.*
!.env.example

# 打包输出目录
dist/
build/

# VitePress 相关缓存
.vitepress/cache